@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

@import "tailwindcss";

*{
    font-family: Outfit;
}

/* will underline the active nav */
.active hr {
    @apply block
}

.active li {
    color: #5f6fff
}

::-webkit-scrollbar{
    @apply hidden
}

#header {
    border-radius: 18% 82% 76% 24% / 58% 32% 68% 42% ;
}

@media (max-width: 740px) {
  .active p{
    @apply text-white bg-[#5f6fff]
  }
}
     